$primary-color:#CF649A;
$secondary-color:#a5a4a5e3;
$tertiary-color:#63184a;
$white:rgb(235, 230, 230);
$red-color:rgba(126, 39, 39, 0.705);
$green-color: rgb(42, 117, 42);
$yellow-color:rgb(231, 231, 10);

